@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.image-container {

  width: 100%;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.tech-slideshow {
  animation: slideX 35s infinite linear;
  display: inline-block;
}

.tech-slideshow-wrapper:before,
.tech-slideshow-wrapper:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.tech-slideshow-wrapper:before {
  left: -10;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F7F9FB);
}

.tech-slideshow-wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #F7F9FB);
}
